.wrapper {
  width: 900px;
  margin: 0 auto;
  }

header, .links {
text-align: center;
}
  
.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  
.links li {
  display: inline-block;
}

.links li:before {content: "[";}
.links li:after {
  content: "]";
  }
.links .last:after {
  content: "]";
  }
  
.thing {
  border-width:7px;
  border-style:solid;
  border-image: url("https://i.imgur.com/NJa4bp2.png") 8 fill round;
  image-rendering:pixelated;
  margin:.7em;
}
  
.inner {
  border:2px dashed;
  padding:.5em 1em;
}
  
.sidebar {
  position:fixed;
  top:10vh; left:3vw;
  width:275px;
}
  
.sidebar-image img {display: block; image-rendering:pixelated;}
  
.main-wrapper {
  position:relative;
  width:50vw;
  margin-top:13vh;
  margin-left:5vw;
}
  
.main {
  columns: 2;
  column-gap: 25px;
  }

header {
  position:fixed;
  top:0; left:0;
  display:block;
  background-color:rgba(0, 0, 0, 0.75);
  align-items:center;
  box-sizing:border-box;
  color:var(--bg-color);
  width:100%;
  image-rendering:pixelated;
  padding:1.3em;
  z-index:10;
}
  
/*Make sure thinges don't spread over multiple columns.*/
.main .thing {
  display: inline-block;
  }
  
.single-column {
  columns: 1;
  }

.disclaimer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  image-rendering:pixelated;
}

.talkbubble::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 40px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid var(--yel);
  border-bottom: 10px solid transparent;
}
.talkbubble {
  position: relative;
  width:350px;
  height:100px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  background: var(--yel);
  color:black;
  margin-left:.3em;
}

#right {
  position:fixed;
  top:0; right:0;
  height:100vh;
}

footer {
  text-align: center;
  width:100%;
}

#lastfm {
  position:fixed;
  top:1vh; left:1vw;
  max-width:170px;
  padding:.7em;
  z-index:11;
}

@media(max-width:915px) {
  .wrapper {    
    width: 95%;
    }
    
  .main-wrapper {
    width: calc(100% - 225px);
    }
  }
  
@media (orientation: portrait), (max-width: 480px) {
  .wrapper {
    width: 100%;
    }
  
  .main-wrapper, .sidebar {
    margin: 0 auto;
    width: 90%;
    }
  
  .sidebar {
    float: none;
    display: block;
    }

  .wrapper {
    margin-top:30px;
    width: 1200px;
    }
    
  /*Changing the size of the gap between thinges.*/
  .links, .thing {
    margin-top:5vh;
    }
    
  .main {
    column-gap: 15px;
    }
    
  .main-wrapper {
    margin-left: 215px;
    }
    
  .links {
    top: 0;
    margin-top:0;
    }
    
  .inner {
    overflow: hidden;
    }
    
  @media(max-width:1215px) {
    .wrapper {    
      width: 95%;
      }
      
    .main-wrapper {
      width: calc(100% - 225px);
      }
    }
    
  /*Reapply mobile CSS, since we changed the widths.*/
  @media (orientation: portrait), (max-width:800px) {
    .wrapper {
      width: 100%;
      }
    
    .main-wrapper, .sidebar{
      margin: 0 auto;
      width: 90%;
      }
    
    .sidebar {
      float: none;
      display: block;
      }
  
    .sidebar-image {
      margin: 0 auto;
      width: 33%;
      margin-top:25px;
      }
  
    .sidebar .sidebar-image img {
      width: 100%;
      }
    }}