/*looking at my code all by yourself, handsome?*/
/*just link back to me somewhere if you copy+paste something you find useful, okay?*/
:root{
  /*
  colors from catppuccin macchiato https://catppuccin.com/palette/
  */
  --link-color:#ed8796;
  --font-color:black;
  --bg-color:white;

  --red:#ed8796;
  --maroon:#ee99a0;
  --peach:#f5a97f;
  --yellow:#eed49f;
  --green:#a6da95;
  --teal:#8bd5ca;
  --sky:#91d7e3;
  --sapphire:#7dc4e4;
  --blue:#8aadf4;
  --lavender:#b7bdf8;

  --pink:#f5bde6;
  --mauve:#c6a0f6;

  --shale:#cad3f5;
  --base:#24273a;
  --mantle:#1e2030;
  --crust:#181926;
}
body {
  background-image:url(waves.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-color:var(--bg-color);
  font-size:1em;
  color:var(--font-color);
  font-family:'Hei', 'Apercu Mono', sans-serif, monospace;
  line-height:1.3em;
}

/*(c) cursor created by Sam  (https://layouts.spacehey.com/layout?id=103585)*/
* {scrollbar-color: var(--bg-color) var(--shale); cursor: url(https://i.postimg.cc/Dyy4mc2K/2024-04-14-0jn-Kleki.png), auto !important;}

::selection {
  color:var(--bg-color);
  text-shadow: -1px 0 var(--font-color), 0 1px var(--font-color), 1px 0 var(--font-color), 0 -1px var(--font-color),
  0px 0px 3px var(--font-color), 0px 0px 3px var(--font-color);
}

@font-face {font-family: 'Apercu Mono'; src: url(ApercuMonoProRegular.ttf);
}
@font-face {font-family: 'iosevka'; src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.ttf);
}
@font-face {
  font-family:'JF Dot';
  src:url(JF-Dot-Shinonome-14-Regular.ttf);
}
@font-face {
  font-family:'Hei';
  src:url(hei-regular.ttf);
}

h1, h2, h3, h4 {font-weight:normal; font-style:italic; margin:0;}

h1 {text-align:center;}

h5 {
  font-size:1rem;
  font-weight:normal;
  margin:0;
}

#container {
  width:60vw;
  padding:.5em;
  margin-top:3vh;
  margin-inline:auto;
  margin-bottom:3vh;
  box-sizing:border-box;
}

footer {width:75vw; margin-left:1vw; margin-inline:auto;}

#itdoll {
  position:fixed; 
  left:14px; bottom:-3.3vh;
  pointer-events:none;
  z-index:100;
  width:15%;
}

#headdoll {
  position:fixed; 
  left:-70px; bottom:-5vh; 
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); 
  pointer-events:none;
  width:40%;
}

#pagedoll {
  position:fixed;
  right:35px; bottom:0;
  pointer-events:none;
  width:25%;
}
#yidoll {
  position:fixed;
  right:-150px; bottom:-10px;
  pointer-events:none;
  width:35%;
}

.box {
  padding:.5em;
  margin-inline:auto;
  position:absolute;
  left:50%;top:50%;transform: translateX(-50%) translateY(-50%);
  box-sizing:border-box;
}

.popup {
  border-width:2px;
  border-style:solid;
  border-left-width:7px;
  outline:1px solid var(--mantle);
  background-color:var(--bg-color);
  color:var(--font-color);
  font-size:smaller;
  width:70%;
  padding:.7em .5em .5em .5em;
  margin-bottom:1vh;
  &>h2 {font-weight:bold;}
}
.warning {border-color:var(--red); &>h2 {color:var(--red)}}

.note {border-color:var(--blue); &>h2 {color:var(--blue)}}


.inside {
  border:1px dashed; 
  padding:.3em;
}

.bit:not(:first-child) {display:none;} 
    
p {/*text-indent:1em;*/ margin:3px;} 

a {
  color:var(--font-color);
  text-decoration:1px solid underline;}
a:hover {
  font-weight:bold;
  text-decoration:none;}

img, iframe {max-width:100%;}

ul {list-style: "> ";}

hr {/*
  border: none;
  border-top: 1px dashed var(--link-color);
  overflow: visible;
  text-align: center;
  margin:none;*/
  background: url('https://file.garden/ZkRD3wbiZDsBIZnn/ribbons.png') no-repeat top center;
  background-size: contain;
  height:30px;
  border:0;
}

textarea {
  border:1px solid var(--font-color);
  background:var(--bg-color);
  color:var(--font-color);
  font-family:'Hei', sans-serif;
}

button {
  background:inherit;
  color:var(--font-color);
  font-size:inherit;
  font-family:'Hei';
}

.button {transition:.2s all ease-out;} .button:hover {transform:rotateX(20deg) scaleX(110%);}

#statuscafe-username {font-size:small;}
#statuscafe {padding:3px;}
#statuscafe-content:before {content:"'"} #statuscafe-content:after {content:"'"}

.border {
  color:white;
  filter: drop-shadow(.5px .5px 0 black) drop-shadow(-.5px 1px 0 black) drop-shadow(0 -.5px 0 black) drop-shadow(1px 0 black);
}

.flex {display:flex; gap:.5em;}

.ttt {text-decoration:1px solid underline;}

#s-m-t-tooltip {
  background:rgba(0, 0, 0, 0.75);
  font-size:1em;
  color:white;
  max-width: 300px;
  text-align: center;
  z-index: 9999;
  margin:1em;
  padding:.3em;
}