:root {
  --bg-color:black;
  --font-color:#5e5e5e;
  --link-color:#ff4930;
}
body{
background:var(--bg-color);
color:var(--font-color);
font-size:1em;
font-family:'Monofoki', sans-serif;
}
@font-face {
  font-family:'Monofoki'; 
  src: url(monofoki.otf);
}
@font-face {
  font-family:'New Romantics'; 
  src: url(ROMANTIC.TTF);
}

::selection {background:var(--link-color); color:white;}

a{color:var(--link-color); text-decoration:none;}
a:hover{color:var(--link-color); text-decoration:1px solid underline;}

.txtbrd {
  color:var(--bg-color);
  text-shadow: -1px 0 var(--font-color), 0 1px var(--font-color), 1px 0 var(--font-color), 0 -1px var(--font-color),
  0px 0px 3px var(--font-color), 0px 0px 3px var(--font-color);
}

.flex {display:flex;}
#contents a,footer a{color:var(--link-color)}

#wrapper{
margin:10px auto;
width:60vw;
}
#contents{
overflow:auto
}
#leftcolumn{
  width:250px;
}
#rightcolumn{
  flex:1;
}
footer{
padding:3em;
text-align:center
}
.rahm01{
background:url(back01.gif) repeat-y 0 0;
background-repeat:repeat-y;
padding:20px
}

#menu{
display:block;
margin:0 auto
}
#menu a:hover {color:white;}
li, ul {list-style:none; padding:0;}
#menu nav li a,nav li span{
border-bottom:1px dashed;
color:var(--font-color);
display:block;
line-height:2em;
padding:5px 0px;
position:relative
}
nav li a:hover{
background:var(--link-color);
color:white;
}
nav li span:hover{
background:var(--link-color);
color:white;
}
.sub-menu{
display:none;
margin:0;
overflow:hidden
}
.sub-menu li{
text-indent:1em
}
nav li span:after{
border-top:3px solid var(--font-color);
border-right:3px solid var(--font-color);
content:"";
display:block;
margin-top:-5px;
position:absolute;
height:5px;width:5px;
top:50%;right:10px;
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
transition:.5s
}
nav li span.open:after{
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
transform:rotate(135deg)
}
#open{display:none}

#pagetop{
background:var(--link-color);
color:white;
height:50px;width:50px;
border-radius:30px;
box-sizing:border-box;
display:block;
line-height:16px;
padding-top:25px;
position:fixed;
text-align:center;
z-index:10
}
#pagetop:before{
content:'\25B2';
font-size:14px;
position:absolute;
width:100%;
left:0;top:10px
}
#pagetop:hover{background:var(--font-color)}

h1{
color:var(--link-color);
font-family:sans-serif;
font-size:3em;
letter-spacing:.1em;
margin:0;
margin-top:3vh;
}
h2{
border-bottom:2px solid var(--font-color);
font-size:1.3em;
letter-spacing:.1em;
text-align:right
}
h3{font-size:1.2em;}

dt{
clear:both;
font-weight:700;
float:left;
margin:0 0 5px;
}

#leftcolumn dt{
clear:none;
float:none;
width:auto
}
#leftcolumn dd{margin-left:1em; margin-bottom:.5em;}

input,textarea{
background:var(--bg-color);
border:1px solid;
color:var(--font-color);
margin:3px 0;
width:250px
}
hr{
display:block;
border:0;
border-top:1px solid var(--font-color);
margin:1em 0;
padding:0;
}
.marker{
background:var(--link-color);
color:white;
padding:1px 5px
}

img{
height:auto;
max-width:100%
}

.ttt {text-decoration:1px solid underline;}

#s-m-t-tooltip {
  background:rgba(0, 0, 0, 0.75);
  font-size:1em;
  color:white;
  max-width: 300px;
  text-align: center;
  z-index: 9999;
  margin:1em;
  padding:.3em;
}

@media screen and (max-width:700px){
  .flex {flex-wrap:wrap;}
  #rightcolumn {width:100%;}
  #leftcolumn {width:100%;}
}

#side{position:relative; transition:all .3s;}
#open{
display:inline-block;
padding:10px;
position:absolute;
height:40px;width:120px; /* 大きさ */
right:30px;
z-index:1001
}
#side.open{-ms-transform:translate(0);-webkit-transform:translate(0);transform:translate(0)}
#side-inner{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
#side-bg{display:none;position:fixed;height:100%;width:100%;top:0;left:0;z-index:999;cursor:pointer}
#open.buttonclose{position:fixed;top:10px}
.open-text{height:40px;margin-left:20px}
#open .close + .open-text{color:white}/* 開いた時の文字色 */
#open-icon,#open-icon:before,#open-icon:after{background:white} /* 線の色 */
#open-icon{display:block;margin:-1px 0 0 0;position:absolute;top:50%;right:0;height:2px;width:20px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
#open-icon:before{margin-top:-8px}
#open-icon:after{margin-top:6px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);background:white}/* 開いた時の線の色 */
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg);background:white}/* 開いた時の線の色 */